## Ignore Visual Studio temporary files, build results, and
## user-specific files

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio working folder
.vs/

# Rider
.idea/

# ASP.NET temporary files
*~project.lock.json
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotCover
*.dotCover

# Node modules (if you use front-end tooling)
node_modules/

# Libman
wwwroot/lib/

# Packages (NuGet)
*.nupkg
packages/
*.snupkg
project.assets.json

# Others
*.dbmdl
*.jfm
_ReSharper*/
*.sql
*.cache
*.pdb
*.mdb

# Mac junk
.DS_Store

# Windows junk
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

# Web publish
publish/

# JetBrains Rider
.idea/
*.sln.iml
