@model string
@{
    ViewData["Title"] = "Registro";
}

<h2>Registro</h2>

<form asp-action="Registro" method="post">
    <div class="form-group">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Registrarse</button>
</form>
